In [3]:
import re

In [9]:
text ='sdfjsd.lkf s.dfk.$jds lfksjdlkrjwe'
pat=r'[.]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(6, 7), match='.'>
<re.Match object; span=(12, 13), match='.'>
<re.Match object; span=(16, 17), match='.'>

In [44]:
email='''123@gmail.com mayank@gmail.com goodwish22@gail.com toshal15@gmail.com 3243##@sdf.com 888&&&@gmail.com jjj.com'''
##pat=r'\w+_?\w*\.?\w*\d*@\w{5}\.?\w{2,3}'
pat=r'\d\.?\w+@gmail.com'
x=re.finditer(pat,email)
for i in x:
    print(i)

<re.Match object; span=(0, 13), match='123@gmail.com'>
<re.Match object; span=(57, 69), match='15@gmail.com'>

In [83]:
a='t2his$is$@py4tkajalah5on$cl7a8ss'
pat=r'kajal'
x=re.finditer(pat,a)
for i in x:
    print(i)

<re.Match object; span=(14, 19), match='kajal'>

In [73]:
re.split(pat,a)

['t2his$is$@py4th5on$cl7a8ss']

In [88]:
a='kajal chopde'
pat=r'kajal'
x=re.fullmatch(pat,a)
print(x)

None

In [5]:
import re
##regex stands for regular expression
##it is a concept that is used to match and update a pattern from a string
##match() to search for the specified pattern at the beginning of the text
##finditer()
##fullmatch()
##sub()
##split()
##compile()
##in python, using a __r__ prefix before a string literal denotes a raw string, this means that blackslaces in the string are treated as literal characters rather than an escape charcter.

text="india is my countery and i love india"
pat=r"ind"
x=re.match(pat,text)
print(x)

<re.Match object; span=(0, 3), match='ind'>

In [13]:
import re
text1='india is my countery and i love india'
pat1=r'india'
x1=re.match(pat1,text1)
print(x1)

<re.Match object; span=(0, 5), match='india'>

In [16]:
x1.group()

'india'

In [17]:
x1.end()

5

In [19]:
x1.start()

0

In [20]:
x1.span()

(0, 5)

In [22]:
##search() 
## it matches the first occurance of the pattern from left to right in the string.
## if the pattern is found, it will return a matched object.
## if the pattern is not found, it will return none
text1='india is my countery and i love india'
pat1=r'and'
x1=re.search(pat1,text1)
print(x1)

<re.Match object; span=(21, 24), match='and'>

In [23]:
text1='india is my countery and i love india'
pat1=r'india'
x1=re.findall(pat1,text1)
print(x1)

['india', 'india']

In [28]:
##finditer() it matches all the occurance of the pattern in th string, it will return an iterator object, where each element in the interator object is a matched object. if the pattern is not found , then it returns an empty iterator object.
##to fetch out the elements from the iterator object we will use for loop.

text1='india is my countery and i love india'
pat1=r'india'
x1=re.finditer(pat1,text1)
for i in x1:
    print(i.group())
    print(i.span())
    print(i.start())
    print(i.start())
    print(i.end())
    print('-----------')

india
(0, 5)
0
0
5
-----------
india
(32, 37)
32
32
37
-----------

In [ ]:
##metacharacter
## this are some special characters in regex
## this characters carry some important message and are useful for some specific purpose
## different kinds of metacharacters
## []- set
## () - group
## ^ caret
## $ dollar
## | or
## . dot

In [30]:
import re
text='32432 4sdsdfs 2%343$@3 #'
pat=r'[0-9]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 1), match='3'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='4'>
<re.Match object; span=(3, 4), match='3'>
<re.Match object; span=(4, 5), match='2'>
<re.Match object; span=(6, 7), match='4'>
<re.Match object; span=(14, 15), match='2'>
<re.Match object; span=(16, 17), match='3'>
<re.Match object; span=(17, 18), match='4'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(21, 22), match='3'>

In [31]:
text='32432 4sdsdfs 2%343$@3 #'
pat=r'[a-z]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(7, 8), match='s'>
<re.Match object; span=(8, 9), match='d'>
<re.Match object; span=(9, 10), match='s'>
<re.Match object; span=(10, 11), match='d'>
<re.Match object; span=(11, 12), match='f'>
<re.Match object; span=(12, 13), match='s'>

In [32]:
text='32432 4sDsdfs 2%343$@3 #'
pat=r'[A-Z]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(8, 9), match='D'>

In [33]:
text='32432 4sdsDfs 2%343$@3 #'
pat=r'[dD]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(8, 9), match='d'>
<re.Match object; span=(10, 11), match='D'>

In [36]:
text='32432 4sdsdfs 2%343$@3 #'
pat=r'[^A-Za-z0-9]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(5, 6), match=' '>
<re.Match object; span=(13, 14), match=' '>
<re.Match object; span=(15, 16), match='%'>
<re.Match object; span=(19, 20), match='$'>
<re.Match object; span=(20, 21), match='@'>
<re.Match object; span=(22, 23), match=' '>
<re.Match object; span=(23, 24), match='#'>

In [46]:
text='32432 4sdsdfs 2%343$@3 #'
pat=r'[^"d" | [a-z]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 1), match='3'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='4'>
<re.Match object; span=(3, 4), match='3'>
<re.Match object; span=(4, 5), match='2'>
<re.Match object; span=(6, 7), match='4'>
<re.Match object; span=(14, 15), match='2'>
<re.Match object; span=(15, 16), match='%'>
<re.Match object; span=(16, 17), match='3'>
<re.Match object; span=(17, 18), match='4'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(19, 20), match='$'>
<re.Match object; span=(20, 21), match='@'>
<re.Match object; span=(21, 22), match='3'>
<re.Match object; span=(23, 24), match='#'>

In [47]:
text='32432 4sdsdfs 2%343$@3 #'
pat=r'32'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 2), match='32'>
<re.Match object; span=(3, 5), match='32'>

In [6]:
import re
text='32432 4sdSdFs 2%343$@3 #'
pat=r'[@$#%&+-=]'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 1), match='3'>
<re.Match object; span=(1, 2), match='2'>
<re.Match object; span=(2, 3), match='4'>
<re.Match object; span=(3, 4), match='3'>
<re.Match object; span=(4, 5), match='2'>
<re.Match object; span=(6, 7), match='4'>
<re.Match object; span=(14, 15), match='2'>
<re.Match object; span=(15, 16), match='%'>
<re.Match object; span=(16, 17), match='3'>
<re.Match object; span=(17, 18), match='4'>
<re.Match object; span=(18, 19), match='3'>
<re.Match object; span=(19, 20), match='$'>
<re.Match object; span=(20, 21), match='@'>
<re.Match object; span=(21, 22), match='3'>
<re.Match object; span=(23, 24), match='#'>

In [8]:
##^caret
##it matches the pattern at the beginning of the string.
text = 'da 18 spat dfds wewe 1323 da 18'
pat = r'^da 18'
x=re.finditer(pat,text)
print(x)
for i in x:
    print (i)

<callable_iterator object at 0x000001C0C7341ED0>
<re.Match object; span=(0, 5), match='da 18'>

In [19]:
## $ dollar
## it matches the pattern at the end of the string.

text = 'da 18 spat dfds wewe 1323 da 18'
pat = r's$'
x=re.finditer(pat,text)
print(x)
for i in x:
    print (i)

<callable_iterator object at 0x000001C0C7342710>

In [25]:
## .dot
## it will match all the character except the \n character
text = 'da 18 spat dfds wewe 1323 \n sdflkdsjlf \n sdlkfdsjflkdsj\nda 18'
print(text)
pat = r'.'
x=re.finditer(pat,text)
print(x)
for i in x:
    print (i)

da 18 spat dfds wewe 1323
 sdflkdsjlf
 sdlkfdsjflkdsj
da 18
<callable_iterator object at 0x000001C0C7342B30>
<re.Match object; span=(0, 1), match='d'>
<re.Match object; span=(1, 2), match='a'>
<re.Match object; span=(2, 3), match=' '>
<re.Match object; span=(3, 4), match='1'>
<re.Match object; span=(4, 5), match='8'>
<re.Match object; span=(5, 6), match=' '>
<re.Match object; span=(6, 7), match='s'>
<re.Match object; span=(7, 8), match='p'>
<re.Match object; span=(8, 9), match='a'>
<re.Match object; span=(9, 10), match='t'>
<re.Match object; span=(10, 11), match=' '>
<re.Match object; span=(11, 12), match='d'>
<re.Match object; span=(12, 13), match='f'>
<re.Match object; span=(13, 14), match='d'>
<re.Match object; span=(14, 15), match='s'>
<re.Match object; span=(15, 16), match=' '>
<re.Match object; span=(16, 17), match='w'>
<re.Match object; span=(17, 18), match='e'>
<re.Match object; span=(18, 19), match='w'>
<re.Match object; span=(19, 20), match='e'>
<re.Match object; span=(20, 21), match=' '>
<re.Match object; span=(21, 22), match='1'>
<re.Match object; span=(22, 23), match='3'>
<re.Match object; span=(23, 24), match='2'>
<re.Match object; span=(24, 25), match='3'>
<re.Match object; span=(25, 26), match=' '>
<re.Match object; span=(27, 28), match=' '>
<re.Match object; span=(28, 29), match='s'>
<re.Match object; span=(29, 30), match='d'>
<re.Match object; span=(30, 31), match='f'>
<re.Match object; span=(31, 32), match='l'>
<re.Match object; span=(32, 33), match='k'>
<re.Match object; span=(33, 34), match='d'>
<re.Match object; span=(34, 35), match='s'>
<re.Match object; span=(35, 36), match='j'>
<re.Match object; span=(36, 37), match='l'>
<re.Match object; span=(37, 38), match='f'>
<re.Match object; span=(38, 39), match=' '>
<re.Match object; span=(40, 41), match=' '>
<re.Match object; span=(41, 42), match='s'>
<re.Match object; span=(42, 43), match='d'>
<re.Match object; span=(43, 44), match='l'>
<re.Match object; span=(44, 45), match='k'>
<re.Match object; span=(45, 46), match='f'>
<re.Match object; span=(46, 47), match='d'>
<re.Match object; span=(47, 48), match='s'>
<re.Match object; span=(48, 49), match='j'>
<re.Match object; span=(49, 50), match='f'>
<re.Match object; span=(50, 51), match='l'>
<re.Match object; span=(51, 52), match='k'>
<re.Match object; span=(52, 53), match='d'>
<re.Match object; span=(53, 54), match='s'>
<re.Match object; span=(54, 55), match='j'>
<re.Match object; span=(56, 57), match='d'>
<re.Match object; span=(57, 58), match='a'>
<re.Match object; span=(58, 59), match=' '>
<re.Match object; span=(59, 60), match='1'>
<re.Match object; span=(60, 61), match='8'>

In [26]:
##| or
## it matches either abc or xyz whatever the case may be
text ='abc.com xyz.com jkl.com mno.com info.com abc.in xyz.co'
pat = r'abc|xyz'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 3), match='abc'>
<re.Match object; span=(8, 11), match='xyz'>
<re.Match object; span=(41, 44), match='abc'>
<re.Match object; span=(48, 51), match='xyz'>

In [30]:
## ()group
## it is used to group a pattern
text ='abc.com xyz.com jkl.com mno.com info.com abc.in xyz.co'
pat = r'(abc|xyz|info).com'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 7), match='abc.com'>
<re.Match object; span=(8, 15), match='xyz.com'>
<re.Match object; span=(32, 40), match='info.com'>

In [35]:
text ='bat mat met cat hat pet jet set bed'
pat = r'((.)at)'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 3), match='bat'>
<re.Match object; span=(4, 7), match='mat'>
<re.Match object; span=(12, 15), match='cat'>
<re.Match object; span=(16, 19), match='hat'>

In [83]:
## Special sequence
##\w it matches all the alpha numeric character (a-z, A-Z, 0-9 and _)
##\W it matches everything except the alpha numeric characters.
##\d it matches all the digits(0-9)
##\D it matches everything except the digits
## \s it matches all the space character (\n, \t, \v \r and space)
## \S it matches everything except the space character
## \b it matches a boundary character or a word
##\B it matches not boundary character or word

text='34sfdsjh 34 kj 3243223432234k23h $%&**&^^^%%%%$$'
pat=r'\b23'
x=re.finditer(pat,text)
for i in x:
    print(i)

In [ ]:
## Quantifiers
##Quantifiers in regex specify how many instanctancs, group, or character class should be matched
## they allow us to specify patterns such as 'zero or more' or 'zero or one' or specific numbers of repetitions.
## {2} - it matches two repetition of a pattern. 
##{2,3} - it will match the repetation in the range of 2 and 3
## ? - it means 1 or no repeatition
##(*) - it means no repetation or n all repeatition
##(+) - it means 1 or more than  repeatitation

In [93]:
#match all the words having length 2
text ='joy amit go happy 2 to sleep 45553'
pat =r'\w{2}'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 2), match='jo'>
<re.Match object; span=(4, 6), match='am'>
<re.Match object; span=(6, 8), match='it'>
<re.Match object; span=(9, 11), match='go'>
<re.Match object; span=(12, 14), match='ha'>
<re.Match object; span=(14, 16), match='pp'>
<re.Match object; span=(20, 22), match='to'>
<re.Match object; span=(23, 25), match='sl'>
<re.Match object; span=(25, 27), match='ee'>
<re.Match object; span=(29, 31), match='45'>
<re.Match object; span=(31, 33), match='55'>

In [114]:
text ='joy amit go happy 2 to sleep 45553'
pat =r'\b[A-Za-z]{2,4}\b'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 3), match='joy'>
<re.Match object; span=(4, 8), match='amit'>
<re.Match object; span=(9, 11), match='go'>
<re.Match object; span=(20, 22), match='to'>

In [125]:
text ='joy amit go kljlksdf234 234 234 234 happy 2 to sleep 45553'
pat =r'[0-9]+'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(20, 23), match='234'>
<re.Match object; span=(24, 27), match='234'>
<re.Match object; span=(28, 31), match='234'>
<re.Match object; span=(32, 35), match='234'>
<re.Match object; span=(42, 43), match='2'>
<re.Match object; span=(53, 58), match='45553'>

In [121]:
text ='joy amit go kljlksdf234 234 234 234 happy 2 to sleep 45553'
pat =r'[A-Za-z]?'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 1), match='j'>
<re.Match object; span=(1, 2), match='o'>
<re.Match object; span=(2, 3), match='y'>
<re.Match object; span=(3, 3), match=''>
<re.Match object; span=(4, 5), match='a'>
<re.Match object; span=(5, 6), match='m'>
<re.Match object; span=(6, 7), match='i'>
<re.Match object; span=(7, 8), match='t'>
<re.Match object; span=(8, 8), match=''>
<re.Match object; span=(9, 10), match='g'>
<re.Match object; span=(10, 11), match='o'>
<re.Match object; span=(11, 11), match=''>
<re.Match object; span=(12, 13), match='k'>
<re.Match object; span=(13, 14), match='l'>
<re.Match object; span=(14, 15), match='j'>
<re.Match object; span=(15, 16), match='l'>
<re.Match object; span=(16, 17), match='k'>
<re.Match object; span=(17, 18), match='s'>
<re.Match object; span=(18, 19), match='d'>
<re.Match object; span=(19, 20), match='f'>
<re.Match object; span=(20, 20), match=''>
<re.Match object; span=(21, 21), match=''>
<re.Match object; span=(22, 22), match=''>
<re.Match object; span=(23, 23), match=''>
<re.Match object; span=(24, 24), match=''>
<re.Match object; span=(25, 25), match=''>
<re.Match object; span=(26, 26), match=''>
<re.Match object; span=(27, 27), match=''>
<re.Match object; span=(28, 28), match=''>
<re.Match object; span=(29, 29), match=''>
<re.Match object; span=(30, 30), match=''>
<re.Match object; span=(31, 31), match=''>
<re.Match object; span=(32, 32), match=''>
<re.Match object; span=(33, 33), match=''>
<re.Match object; span=(34, 34), match=''>
<re.Match object; span=(35, 35), match=''>
<re.Match object; span=(36, 37), match='h'>
<re.Match object; span=(37, 38), match='a'>
<re.Match object; span=(38, 39), match='p'>
<re.Match object; span=(39, 40), match='p'>
<re.Match object; span=(40, 41), match='y'>
<re.Match object; span=(41, 41), match=''>
<re.Match object; span=(42, 42), match=''>
<re.Match object; span=(43, 43), match=''>
<re.Match object; span=(44, 45), match='t'>
<re.Match object; span=(45, 46), match='o'>
<re.Match object; span=(46, 46), match=''>
<re.Match object; span=(47, 48), match='s'>
<re.Match object; span=(48, 49), match='l'>
<re.Match object; span=(49, 50), match='e'>
<re.Match object; span=(50, 51), match='e'>
<re.Match object; span=(51, 52), match='p'>
<re.Match object; span=(52, 52), match=''>
<re.Match object; span=(53, 53), match=''>
<re.Match object; span=(54, 54), match=''>
<re.Match object; span=(55, 55), match=''>
<re.Match object; span=(56, 56), match=''>
<re.Match object; span=(57, 57), match=''>
<re.Match object; span=(58, 58), match=''>

In [ ]:
#? it returns only  all  repeatition of the pattern, if the pattern is found
#? it returns an empty string (''), if the pattern is not found
#(*) it returns only  all  repeatition of the pattern, if the pattern is found
#(*) it return an empty string (''), if the patterns is not found() 
#(+) it returns 1 or more repeatition, if the pattern is found
#(+) it returns and empty string"" if the pattern is not found

In [132]:
text ='joy 123 a'
pat =r'[A-Za-z]?'
x=re.finditer(pat,text)
for i in x:
    print(i)
print('---------')
pat1=r'[A-Za-z]*'
x1=re.finditer(pat1,text)
for i1 in x1:
    print (i1)
print('-------')
pat2=r'[A-Za-z]+'
x2=re.finditer(pat2,text)
for i2 in x2:
    print(i2)

<re.Match object; span=(0, 1), match='j'>
<re.Match object; span=(1, 2), match='o'>
<re.Match object; span=(2, 3), match='y'>
<re.Match object; span=(3, 3), match=''>
<re.Match object; span=(4, 4), match=''>
<re.Match object; span=(5, 5), match=''>
<re.Match object; span=(6, 6), match=''>
<re.Match object; span=(7, 7), match=''>
<re.Match object; span=(8, 9), match='a'>
<re.Match object; span=(9, 9), match=''>
---------
<re.Match object; span=(0, 3), match='joy'>
<re.Match object; span=(3, 3), match=''>
<re.Match object; span=(4, 4), match=''>
<re.Match object; span=(5, 5), match=''>
<re.Match object; span=(6, 6), match=''>
<re.Match object; span=(7, 7), match=''>
<re.Match object; span=(8, 9), match='a'>
<re.Match object; span=(9, 9), match=''>
-------
<re.Match object; span=(0, 3), match='joy'>
<re.Match object; span=(8, 9), match='a'>

In [138]:
text ='Joy 123 asdfsd'
pat =r'[A-Z]([a-z]+)'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(0, 3), match='Joy'>

In [152]:
text ='a^bc*343^sd.fd.sfd.s^.sdfds^fsdfs'
pat =r'\.'
x=re.finditer(pat,text)
for i in x:
    print(i)

<re.Match object; span=(11, 12), match='.'>
<re.Match object; span=(14, 15), match='.'>
<re.Match object; span=(18, 19), match='.'>
<re.Match object; span=(21, 22), match='.'>

In [182]:
email='''mayank.ghai@learnbay.co
mayank.atul@gmail.com
maya_nkg@yahoo.com
m.ghai@microsoft.com
9902@gmail.co
$#$@gmail.com
kajal@gmail.com
'''
pat=r'\w+_?\w*\.?\w*\d*@gmail.com'
x=re.findall(pat,email)
for i in x:
    print(i)

mayank.atul@gmail.com
kajal@gmail.com

In [5]:
import numpy as np
arr=np.array([1,2,3])
arr.astype(int)

array([1, 2, 3])

In [7]:
x=arr.astype(float)
x

array([1., 2., 3.])

In [8]:
x=arr.astype(complex)
x

array([1.+0.j, 2.+0.j, 3.+0.j])

In [3]:
##null value in numpy
## python = none
## numpy = np.nan
## in numpy, the null value arer represented by np.nan
##Nan stands for not number
## The type of np.nan is float

a= None
print(type(a))
x=np.array([np.nan])
x

<class 'NoneType'>

array([nan])

In [4]:
x.dtype

dtype('float64')

In [12]:
arr=np.array([10,20,30,np.nan,50,np.nan,45,50,np.nan]).reshape(3,3)
arr

array([[10., 20., 30.],
       [nan, 50., nan],
       [45., 50., nan]])

operation that we can perform on the null values
count the number of null values in an array
count the number of non null values in an array
fetch out all the null values from the an array
fetch out all non null values from the an array
replacing the null values by some other values

In [13]:
arr

array([[10., 20., 30.],
       [nan, 50., nan],
       [45., 50., nan]])

In [14]:
np.isnan(arr)

array([[False, False, False],
       [ True, False,  True],
       [False, False,  True]])

In [25]:
## count the number of null values in the array
x=np.isnan(arr).sum()
x

3

In [24]:
## count the number of non null value
~np.isnan(arr).sum()

-4

## access the null values
np.where(condition),condition--> np.nan(arr)

In [26]:
arr

array([[10., 20., 30.],
       [nan, 50., nan],
       [45., 50., nan]])

In [27]:
np.where(np.isnan(arr))

(array([1, 1, 2], dtype=int64), array([0, 2, 2], dtype=int64))

np.where(condition)
it returns the index of the element where the condition is true
to fetch out the elements we pass np.where() as the index to the array object

In [28]:
arr=np.random.randint(10,100,12).reshape(3,4)
arr

array([[67, 36, 64, 15],
       [74, 82, 65, 49],
       [65, 19, 86, 59]])

In [29]:
#fetch the indexes of the element where the arr elements are greater than 50

np.where(arr>50)

(array([0, 0, 1, 1, 1, 2, 2, 2], dtype=int64),
 array([0, 2, 0, 1, 2, 0, 2, 3], dtype=int64))

In [30]:
np.where(np.isnan(arr))

(array([], dtype=int64), array([], dtype=int64))

## fetch out the null elements from the array
arr[np.where(np.isnan(arr))]
or
arr[np.isnan(arr) == True]arr

In [31]:
arr

array([[67, 36, 64, 15],
       [74, 82, 65, 49],
       [65, 19, 86, 59]])

In [32]:
arr[np.where(np.isnan(arr))]

array([], dtype=int32)

In [33]:
## access all the non null values
arr[np.where(~np.isnan(arr))]

array([67, 36, 64, 15, 74, 82, 65, 49, 65, 19, 86, 59])

In [34]:
##replace the null value in an array
arr

array([[67, 36, 64, 15],
       [74, 82, 65, 49],
       [65, 19, 86, 59]])

In [35]:
arr=np.array([10,20,30,np.nan,50,np.nan,45,50,np.nan])
arr[~np.isnan(arr)]

array([10., 20., 30., 50., 45., 50.])

In [36]:
arr[np.isnan(arr)]

array([nan, nan, nan])

In [37]:
arr[np.isnan(arr)] = 0 # we are reassing nan value

In [38]:
arr

array([10., 20., 30.,  0., 50.,  0., 45., 50.,  0.])

In [39]:
arr.astype(int)

array([10, 20, 30,  0, 50,  0, 45, 50,  0])

In [40]:
arr

array([10., 20., 30.,  0., 50.,  0., 45., 50.,  0.])

In [41]:
arr=arr.astype(int)

In [42]:
arr

array([10, 20, 30,  0, 50,  0, 45, 50,  0])

In [43]:
arr.reshape(3,3)

array([[10, 20, 30],
       [ 0, 50,  0],
       [45, 50,  0]])

In [44]:
arr

array([10, 20, 30,  0, 50,  0, 45, 50,  0])

In [45]:
arr=arr.reshape(3,3)

In [46]:
arr

array([[10, 20, 30],
       [ 0, 50,  0],
       [45, 50,  0]])

In [51]:
arr=np.array([10,20,30,np.nan,50,np.nan,45,50,np.nan])
arr[np.isnan(arr)] == arr.mean()

array([False, False, False])

arr.mean()
arr[~np.isnan(arr)].mean()

In [53]:
arr[np.isnan(arr)] = arr[~np.isnan(arr)].mean()

In [55]:
arr

array([10.        , 20.        , 30.        , 34.16666667, 50.        ,
       34.16666667, 45.        , 50.        , 34.16666667])

In [58]:
## np.argwhere()
## it returns an array object that contains the indexs of all the non zero element in an array
arr=np.array([10,20,30,np.nan,50,np.nan,45,50,np.nan])
arr=arr.flatten()
arr

array([10., 20., 30., nan, 50., nan, 45., 50., nan])

In [59]:
arr[np.isnan(arr)]=0
arr

array([10., 20., 30.,  0., 50.,  0., 45., 50.,  0.])

In [60]:
np.argwhere(arr)

array([[0],
       [1],
       [2],
       [4],
       [6],
       [7]], dtype=int64)

In [65]:
arr= arr.reshape(3,3)
arr

array([[10., 20., 30.],
       [ 0., 50.,  0.],
       [45., 50.,  0.]])

In [66]:
np.argwhere(arr)

array([[0, 0],
       [0, 1],
       [0, 2],
       [1, 1],
       [2, 0],
       [2, 1]], dtype=int64)

In [67]:
arr=np.array([10,20,30-60,0,-62,0,50,0,45,])

In [68]:
arr

array([ 10,  20, -30,   0, -62,   0,  50,   0,  45])

In [69]:
np.argwhere(arr)

array([[0],
       [1],
       [2],
       [4],
       [6],
       [8]], dtype=int64)

In [70]:
np.argwhere(arr>0)

array([[0],
       [1],
       [6],
       [8]], dtype=int64)

In [72]:
##np.argmax()
## it return the index of the maximum number in an array
## in case we have multiple maximum values, then it will reutrn the index of the first maximum number
## np.argmax() treats an array as a 1-d array

np.argmax(arr)

6

In [78]:
arr
arr=arr.reshape(3,3)

In [79]:
np.argmax(arr)

6

In [80]:
arr

array([[ 10,  20, -30],
       [  0, -62,   0],
       [ 50,   0,  45]])

In [81]:
np.argmin(arr)

4

In [84]:
arr.flatten()

array([ 10,  20, -30,   0, -62,   0,  50,   0,  45])

In [85]:
np.argmin(arr)

4

In [86]:
np.argmax(arr)

6

In [88]:
arr=np.random.randint(1,100,12).reshape(3,4)
arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [91]:
np.where(arr>60,1,"aa")

array([['1', 'aa', 'aa', 'aa'],
       ['1', 'aa', 'aa', '1'],
       ['aa', 'aa', '1', '1']], dtype='<U11')

In [92]:
np.where(arr>=60,1,arr)

array([[ 1, 15, 16, 33],
       [ 1, 25, 16,  1],
       [31, 21,  1,  1]])

In [93]:
arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [94]:
## capping the values between a range
arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [96]:
#method one
arr1=np.where(arr>7,70,arr)
arr1

array([[70, 70, 70, 70],
       [70, 70, 70, 70],
       [70, 70, 70, 70]])

In [97]:
arr2=np.where(arr<20,20,arr)

In [98]:
arr2

array([[68, 20, 20, 33],
       [61, 25, 20, 90],
       [31, 21, 84, 73]])

In [99]:
##method 2
arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [100]:
arr3=np.where(arr>60,60,(np.where(arr<40,40,arr)))

In [101]:
arr3

array([[60, 40, 40, 40],
       [60, 40, 40, 60],
       [40, 40, 60, 60]])

In [103]:
import seaborn as sns
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [105]:
data=sns.load_dataset('titanic')
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [106]:
data.shape

(891, 15)

In [ ]:
## box plot or whisker plot helps to determine that whether a dataset column is having an outlet in it or not.

In [110]:
q3=38
q1=20.125
iqr=q3-q1
ub = q3+(1.5*(iqr))
lb = q1-(1.5*(iqr))
ub

-6.6875

In [111]:
lb

-6.6875

In [114]:
##sns.boxplot(y="age",)
np.clip(arr,40,20)
arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [115]:

arr

array([[68, 15, 16, 33],
       [61, 25, 16, 90],
       [31, 21, 84, 73]])

In [116]:
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [117]:
#filter out the elements which are either divisible by 2 and 3
arr[(arr%2 == 0) & (arr%3 == 0)]

array([90, 84])

In [127]:
data[data.sex == 'female' &  data.class == 'First'  | data.class == 'Second' ]

SyntaxError: invalid syntax (3053472156.py, line 1)

In [135]:
## array concatenation
## vertical concatenation
## horizonatal concatination
##Syntax:
x=np.array(1,10).reshape(3,3)
x
#x.shape
#y=np.array([1,2,3])
#y
#arr1=np.concatenate((x,y),axis=0)

TypeError: Cannot interpret '10' as a data type

In [130]:
y=np.array([1,2,3]).reshape(1,3)
y
y.ndim

2

In [132]:
arr1=np.concatenate((x,y),axis=0)

ValueError: zero-dimensional arrays cannot be concatenated

x

In [133]:
y

array([[1, 2, 3]])

In [140]:
## horizonatal concatenate
x=array([1,2,],[3,4,5])
x

NameError: name 'array' is not defined

In [ ]:
y=np.array([0,0,0])
arr3=np.concatenate((x,y), axis=1)

In [141]:
arr=np.random.randint(1,100,15)
arr

array([97, 81, 98,  4, 17, 50, 46,  3, 66, 65, 49, 37, 44, 28, 62])

In [142]:
np.sort(arr)

array([ 3,  4, 17, 28, 37, 44, 46, 49, 50, 62, 65, 66, 81, 97, 98])

In [144]:
np.sort(arr)[::-1]

array([98, 97, 81, 66, 65, 62, 50, 49, 46, 44, 37, 28, 17,  4,  3])

In [145]:
arr[::-1]

array([62, 28, 44, 37, 49, 65, 66,  3, 46, 50, 17,  4, 98, 81, 97])

In [146]:
arr

array([97, 81, 98,  4, 17, 50, 46,  3, 66, 65, 49, 37, 44, 28, 62])

In [147]:
arr=arr.reshape(3,5)

In [148]:
arr

array([[97, 81, 98,  4, 17],
       [50, 46,  3, 66, 65],
       [49, 37, 44, 28, 62]])

In [149]:
arr+5

array([[102,  86, 103,   9,  22],
       [ 55,  51,   8,  71,  70],
       [ 54,  42,  49,  33,  67]])

In [150]:
arr-5

array([[92, 76, 93, -1, 12],
       [45, 41, -2, 61, 60],
       [44, 32, 39, 23, 57]])

In [151]:
arr*3

array([[291, 243, 294,  12,  51],
       [150, 138,   9, 198, 195],
       [147, 111, 132,  84, 186]])

In [152]:
arr/3

array([[32.33333333, 27.        , 32.66666667,  1.33333333,  5.66666667],
       [16.66666667, 15.33333333,  1.        , 22.        , 21.66666667],
       [16.33333333, 12.33333333, 14.66666667,  9.33333333, 20.66666667]])

In [153]:
arr//3

array([[32, 27, 32,  1,  5],
       [16, 15,  1, 22, 21],
       [16, 12, 14,  9, 20]], dtype=int32)

In [154]:
arr%3

array([[1, 0, 2, 1, 2],
       [2, 1, 0, 0, 2],
       [1, 1, 2, 1, 2]], dtype=int32)

In [155]:
arr**2

array([[9409, 6561, 9604,   16,  289],
       [2500, 2116,    9, 4356, 4225],
       [2401, 1369, 1936,  784, 3844]])

In [157]:
arr**3

array([[912673, 531441, 941192,     64,   4913],
       [125000,  97336,     27, 287496, 274625],
       [117649,  50653,  85184,  21952, 238328]], dtype=int32)

In [158]:
## array broadcasting
## when we perform some array to array operation, but the array are of different shape then to make the opration possible. numpy adds dumy rows and dummy column to match the shape of both the array.
arr.shape

(3, 5)

In [169]:
a=np.array([5,5,5,5,5])

In [170]:
a.shape

(5,)

In [171]:
arr

array([[97, 81, 98,  4, 17],
       [50, 46,  3, 66, 65],
       [49, 37, 44, 28, 62]])

In [172]:
arr+a

array([[102,  86, 103,   9,  22],
       [ 55,  51,   8,  71,  70],
       [ 54,  42,  49,  33,  67]])

In [173]:
## iterate over an array
y=np.arange(1,21)
y

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [175]:
for i in y:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [177]:
len(y)

20

In [181]:
y=y.reshape(4,5)

In [182]:
y

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [183]:
for i in np.nditer(y):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [184]:
##Determinant  
arr=np.arange(1,10).reshape(3,3)

In [185]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
1[5 6]    -2[4 6]   3[4 5]
  8 9        7 9      7 8

In [188]:
1*((5*9) - (8*6))-2*((4*9)-(7*6))+3*((4*8)-(5*7))

0

In [189]:
import numpy as np
arr = np.array([2,6,7,7,8,9,10,11,12])
arr.dtype
arr.astype(int)

array([ 2,  6,  7,  7,  8,  9, 10, 11, 12])

In [190]:
arr.astype(float)

array([ 2.,  6.,  7.,  7.,  8.,  9., 10., 11., 12.])

In [191]:
arr.astype(complex)

array([ 2.+0.j,  6.+0.j,  7.+0.j,  7.+0.j,  8.+0.j,  9.+0.j, 10.+0.j,
       11.+0.j, 12.+0.j])

In [193]:
arr.astype(str)

array(['2', '6', '7', '7', '8', '9', '10', '11', '12'], dtype='<U11')

In [194]:
#array.astype(datatype)
## python - None
## python - np.nan
## nan stand for non a number
a=None
print(type(a))

<class 'NoneType'>

In [195]:
x=np.array([np.nan])
x.dtype

dtype('float64')

In [198]:
arr=np.array([10,20,30,np.nan,45,50,np.nan,60,70,np.nan])
arr=arr.reshape(5,2)

In [199]:
arr.dtype

dtype('float64')

In [200]:
arr

array([[10., 20.],
       [30., nan],
       [45., 50.],
       [nan, 60.],
       [70., nan]])

In [202]:
np.isnan(arr)

array([[False, False],
       [False,  True],
       [False, False],
       [ True, False],
       [False,  True]])

In [203]:
np.isnan(arr).sum()

3

In [206]:
(~np.isnan(arr)).sum()

7

In [207]:
arr

array([[10., 20.],
       [30., nan],
       [45., 50.],
       [nan, 60.],
       [70., nan]])

In [208]:
np.isnan(arr[0])

array([False, False])

In [209]:
np.where(arr)

(array([0, 0, 1, 1, 2, 2, 3, 3, 4, 4], dtype=int64),
 array([0, 1, 0, 1, 0, 1, 0, 1, 0, 1], dtype=int64))

In [211]:
np.where(np.isnan(arr))

(array([1, 3, 4], dtype=int64), array([1, 0, 1], dtype=int64))

In [212]:
arr

array([[10., 20.],
       [30., nan],
       [45., 50.],
       [nan, 60.],
       [70., nan]])

In [213]:
arr[np.where(np.isnan(arr))]

array([nan, nan, nan])

In [214]:
arr[np.isnan(arr) == True]

array([nan, nan, nan])

In [215]:
arr[np.isnan(arr) == False ]

array([10., 20., 30., 45., 50., 60., 70.])

In [216]:
arr[np.where(~np.isnan(arr))]

array([10., 20., 30., 45., 50., 60., 70.])

In [218]:
arr[np.isnan(arr)]=0

In [219]:
arr

array([[10., 20.],
       [30.,  0.],
       [45., 50.],
       [ 0., 60.],
       [70.,  0.]])

In [220]:
arr=arr.astype(str)

In [222]:
arr.where(np.isnan(arr))

AttributeError: 'numpy.ndarray' object has no attribute 'where'

In [1]:
## pandas is a python library, that is used to manipulate the data as we do in ms-excel.
## it stand for panel data
## how to import pandas
import pandas as pd
## version
pd.__version__

'2.0.3'

In [3]:
## in pandas, we will work upon two objects
# series
# dataframe
# how to create series
lst=[i for i in range(1,11)]
s=pd.Series(lst)
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
s.shape

(10,)

In [5]:
name = ['k','b','c','d']
emp=pd.Series(name)
emp

0    k
1    b
2    c
3    d
dtype: object

In [6]:
name = ('k','b','c','d')
emp=pd.Series(name)
emp

0    k
1    b
2    c
3    d
dtype: object

In [8]:
## size
##It return size
emp.size

4

emp.dtype

In [15]:
emp.dtype

dtype('O')

In [16]:
emp.ndim

1

In [17]:
name = ([1,2],[2,3],[4,5])
emp=pd.Series(name)
emp

0    [1, 2]
1    [2, 3]
2    [4, 5]
dtype: object

In [18]:
emp.ndim

1

In [13]:
emp.dtype

dtype('O')

In [14]:
emp.shape

(3,)

In [19]:
# it returns the index of object of object
emp.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
#values
emp.values

array([list([1, 2]), list([2, 3]), list([4, 5])], dtype=object)

In [21]:
s.values

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [23]:
emp.name = 'employee_name'

In [25]:
emp

0    [1, 2]
1    [2, 3]
2    [4, 5]
Name: employee_name, dtype: object

In [26]:
# when we create a series using a dictionary, then the keys from the dictionary becomes the index and the values from the dictionary will become the values in the series
info={'id':101,'Name':'Mayank','age':29}
info

{'id': 101, 'Name': 'Mayank', 'age': 29}

In [27]:
type(info)

dict

In [28]:
info_ser=pd.Series(info)
info_ser

id         101
Name    Mayank
age         29
dtype: object

In [29]:
type(info_ser)

pandas.core.series.Series

In [30]:
#index of the series
#implicit indexing - pandas defined - 0 to len(ser)-1
# explicit indexing - user definded are some times calles as labels

name

([1, 2], [2, 3], [4, 5])

In [31]:
s=pd.Series(name)
s

0    [1, 2]
1    [2, 3]
2    [4, 5]
dtype: object

In [34]:
s=pd.Series(emp, index = list('zyx'))
s

z    NaN
y    NaN
x    NaN
Name: employee_name, dtype: object

In [35]:
s

z    NaN
y    NaN
x    NaN
Name: employee_name, dtype: object

In [36]:
emp

0    [1, 2]
1    [2, 3]
2    [4, 5]
Name: employee_name, dtype: object

In [37]:
name = ('k','b','c','d')
emp=pd.Series(name)
emp

0    k
1    b
2    c
3    d
dtype: object

In [40]:
s=pd.Series(emp)
s

0    k
1    b
2    c
3    d
dtype: object

In [41]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [42]:
country =['india','Russia','Vietnam','China']
capitals=['new_delhi','moscow','hanoi','beijing']
cc=pd.Series(capitals,index=country)
cc

india      new_delhi
Russia        moscow
Vietnam        hanoi
China        beijing
dtype: object

In [44]:
#how to access an element
cc[1]

'moscow'

In [45]:
cc[0]

'new_delhi'

In [47]:
#iloc and loc
# it stands for index location
# iloc is used to fetch out the values on the bases of implicit indexing
## loc
#it stands for location
#loc is used to fetch out the values on the bases of explicit indexing

cc

india      new_delhi
Russia        moscow
Vietnam        hanoi
China        beijing
dtype: object

In [48]:
cc.iloc[2]

'hanoi'

In [54]:
cc.iloc[1]

'moscow'

In [55]:
cc.iloc[0]

'new_delhi'

emp.loc[1]

In [58]:
emp.iloc[1]

'b'

In [59]:
emp.loc[1]

'b'

In [60]:
emp

0    k
1    b
2    c
3    d
dtype: object

In [62]:
emp.iloc[1:3:1]

1    b
2    c
dtype: object

In [63]:
emp.iloc[::-1]

3    d
2    c
1    b
0    k
dtype: object

In [64]:
cc.iloc[::2]

india      new_delhi
Vietnam        hanoi
dtype: object

In [65]:
emp.loc[::1]

0    k
1    b
2    c
3    d
dtype: object

In [66]:
emp.iloc[::1]

0    k
1    b
2    c
3    d
dtype: object

In [67]:
emp.loc[0:1:1]

0    k
1    b
dtype: object

In [73]:
emp.iloc[::-1]

3    d
2    c
1    b
0    k
dtype: object

In [74]:
cc

india      new_delhi
Russia        moscow
Vietnam        hanoi
China        beijing
dtype: object

In [75]:
cc.index

Index(['india', 'Russia', 'Vietnam', 'China'], dtype='object')

In [79]:
cc.iloc[3]

'beijing'

In [80]:
cc.iloc[0:2]

india     new_delhi
Russia       moscow
dtype: object

In [85]:
cc.loc[::1]

india      new_delhi
Russia        moscow
Vietnam        hanoi
China        beijing
dtype: object

In [86]:
cc.iloc[::-1]

China        beijing
Vietnam        hanoi
Russia        moscow
india      new_delhi
dtype: object

In [91]:
cc.loc[::-1][::-2]

india      new_delhi
Vietnam        hanoi
dtype: object

In [95]:
# how to access a column

KeyError: 'key of type tuple not found and not a MultiIndex'

In [97]:
import seaborn as sns
data=sns.load_dataset('titanic')
data

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [98]:
data.sex

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: sex, Length: 891, dtype: object

In [99]:
type(data[['sex']])

pandas.core.frame.DataFrame

In [102]:
data[['who','age']]

       who   age
0      man  22.0
1    woman  38.0
2    woman  26.0
3    woman  35.0
4      man  35.0
..     ...   ...
886    man  27.0
887  woman  19.0
888  woman   NaN
889    man  26.0
890    man  32.0

[891 rows x 2 columns]

In [104]:
data.loc[0:4][['age','sex']]

    age     sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [111]:
data.loc[0:10:1]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
5,0,3,male,NaN,0,0,8.4583,Q,Third,man,True,NaN,Queenstown,no,True
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
7,0,3,male,2.0,3,1,21.0750,S,Third,child,False,NaN,Southampton,no,False
8,1,3,female,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False
9,1,2,female,14.0,1,0,30.0708,C,Second,child,False,NaN,Cherbourg,yes,False
10,1,3,female,4.0,1,1,16.7000,S,Third,child,False,G,Southampton,yes,False

In [118]:
data.index = [f'emp{i}'  for i in range(1,7)]

ValueError: Length mismatch: Expected axis has 891 elements, new values have 6 elements

In [119]:
d1=pd.DataFrame(data).T

In [120]:
d1

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
sibsp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
class,Third,First,Third,First,Third,Third,First,Third,Third,Second,...,Third,Third,Second,Third,Third,Second,First,Third,First,Third
who,man,woman,woman,woman,man,man,man,child,woman,child,...,man,woman,man,man,woman,man,woman,woman,man,man
adult_male,True,False,False,False,True,True,True,False,False,False,...,True,False,True,True,False,True,False,False,True,True
deck,NaN,C,NaN,C,NaN,NaN,E,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,B,NaN,C,NaN
embark_town,Southampton,Cherbourg,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,...,Southampton,Southampton,Southampton,Southampton,Queenstown,Southampton,Southampton,Southampton,Cherbourg,Queenstown
alive,no,yes,yes,yes,no,no,no,no,yes,yes,...,no,no,no,no,no,no,yes,no,yes,no
alone,False,False,True,False,True,True,True,False,False,False,...,True,True,True,True,False,True,True,False,True,True

In [122]:
d1.iloc[0:10:1]

,0,1,2,3,4,5,6,7,8,9,...,881,882,883,884,885,886,887,888,889,890
survived,0,1,1,1,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,1,0
pclass,3,1,3,1,3,3,1,3,3,2,...,3,3,2,3,3,2,1,3,1,3
sex,male,female,female,female,male,male,male,male,female,female,...,male,female,male,male,female,male,female,female,male,male
age,22.0,38.0,26.0,35.0,35.0,NaN,54.0,2.0,27.0,14.0,...,33.0,22.0,28.0,25.0,39.0,27.0,19.0,NaN,26.0,32.0
sibsp,1,1,0,1,0,0,0,3,0,1,...,0,0,0,0,0,0,0,1,0,0
parch,0,0,0,0,0,0,0,1,2,0,...,0,0,0,0,5,0,0,2,0,0
fare,7.25,71.2833,7.925,53.1,8.05,8.4583,51.8625,21.075,11.1333,30.0708,...,7.8958,10.5167,10.5,7.05,29.125,13.0,30.0,23.45,30.0,7.75
embarked,S,C,S,S,S,Q,S,S,S,C,...,S,S,S,S,Q,S,S,S,C,Q
class,Third,First,Third,First,Third,Third,First,Third,Third,Second,...,Third,Third,Second,Third,Third,Second,First,Third,First,Third
who,man,woman,woman,woman,man,man,man,child,woman,child,...,man,woman,man,man,woman,man,woman,woman,man,man

In [129]:
d1.iloc[['age','class']]

ValueError: invalid literal for int() with base 10: 'age'

In [ ]:
##how to import a csv or an excel file on jupyter notebook
#for csv file
#pd.read_csv(path)
#pd.read_excel(path)

In [1]:
import pandas as pd
df=pd.read_csv('titanic.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [ ]:
df